/* Your styles here */

body{
    font-family:'Open Sans', sans-serif;
    line-height: 1.9;
    padding: 1px;
}




/*Header */

header {
    background-color: black;
    text-align: start;
}

header div img {
    width: 120px;
    padding: 1em;
}


/*Main*/

.superh1{
    font-size: 2rem;
}

main div {
    padding: 8em;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #25a1c4;
}

main h1, main p {
    text-align: center;
    margin: 1em;
}

main div button{
    padding: 0.9em;
    padding-inline: 2em;
    border: 0;
    background-color: #f34b2c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    color: white;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
    
}

.img1{
    border-radius: 50%;
    width: 250px;

 
}

.section1 {

    background-image: url(/images/banner.jpg);
    background-attachment: fixed;
    background-position: 60%;
    
}

.superh1-white{
    font-size: 2rem;
    color: azure;
}

.section3 {
    background-color: #e22d0e;
    color: azure;
}

main div h2 {
    text-align: center;
    font-size: 1.2rem;
}

.cursive{
    font-style: italic;
}

main div h6 {
    text-align: center;
    font-size: 0.8rem;
}

.sectionbig4{
    display: inline;
}

.section4 {
    display: block;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.container {
    padding: 2px 16px;
}

footer {
    background-color:#25a2c3;
    color: azure;


}

footer h1 {
    text-align: center;
    margin: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #25a1c4;
    padding: 1rem;
    
}

footer ul {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem;
}

.imgspace{
    width: 90%;
}

.section2{
    padding: 1,6em;
}

.right {
 
    width: 100%;
    margin-top: -480px;
    justify-content: first baseline;
 
    
    
}



